/* ---------- Global ---------- */

html, body {
  font-size: 18px;
  font-family: 'PT Sans', Verdana, sans-serif;
  color: #2F343B;
  line-height: 1.25em;
}

h1, h2, header span {
  font-family: 'PT Serif', Georgia, serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25em;
}

.content-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  background-color: #303577;
  padding: 8px 20px;
  color: white;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #06B5C8;
  transition: background-color 200ms linear;
  color: white;
}

.btn:active {
  background-color: #F15213;
}

.border-rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.bg-gray {
  background-color: #d1e3fa;
}

.width-60 {
  max-width: 60%;
}

.img-fullwidth {
  max-width: 100%;
  height: auto;
}

.it-serif {
  font-family: 'PT Serif', Georgia, serif;
  font-style: italic;
}

.img-cover {
  background-size: cover;
}

/* ---------- Header ---------- */

header {
  width: 100%;
  height: 64px;
}

header div.content-container, section, main {
  padding: 0 24px;
}

header img {
  height: 32px;
  margin-right: 5px;
}

header span {
  letter-spacing: 0.125em;
}

header span:last-child {
  opacity: 0.4;
}

nav a {
  margin: 0 0 0 16px;
}

nav a:hover {
  cursor: pointer;
  color: #06b5c8;
  transition: color 200ms linear;
}

nav a:active {
  color: #f15213;
}

/* ---------- Banner ---------- */

section figure.flex img {
  margin: 32px 24px 32px 0;
}

figcaption {
  line-height: 1.25em;
}

figcaption h3 {
  margin: 24px 0;
}

figcaption span.btn {
  max-width: 50%;
}

figcaption a {
  color: #f15213;
}

figcaption a:hover {
  color: #06b5c8;
  transition: color 200ms linear 0ms;
  cursor: pointer;
}

/* ---------- Main ---------- */

main {
  padding: 32px 24px;
}

main article h1, main article p {
  margin-top: 24px;
}

main aside {
  width: 40%;
  margin-left: 24px;
  margin-right: 0;
}

main aside figure {
  padding: 16px;
}

main aside figure img {
  max-width: 35%;
  height: auto;
  overflow: hidden;
  background-size: cover;
  margin-right: 16px;
}

main aside figcaption {
  width: 65%;
}

aside p {
  margin: 8px 0;
}

main aside figure:last-child {
  background-color: #303577;
  color: white;
}

main aside figure:first-child {
  padding-top: 0;
}

/* ---------- Courses ---------- */

div.bg-gray div.direction-column h1 {
  margin: 32px auto 0 auto;
}

div.bg-gray div.content-container.direction-column {
  padding: 0 40px 32px 40px;
}

.course img {
  max-width: 100%;
  max-height: auto;
}

.course {
  margin: 32px;
  max-width: 330px;
  align-items: stretch;
}

.bg-white {
  background-color: white;
  padding: 16px 16px 24px 16px;
}

.smallcaps {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 8px 0;
}
